body {
    font-family: Inter, sans-serif;
}

.container {
    max-width: 966px;
    margin: 0 auto;
}

/* HEADER */

.header {
    max-width: 1050px;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__search::before {
    content: url(../images/src_icon.svg);
    position: relative;
    top: 3px;
}

.form-input {
    width: 80px;
    height: 20px;
    border: none;
    color: black;
    font-size: 16px;
}

.form-input::placeholder {
    color: #718096;
    font-size: 16px;
}

.form-input:focus {
    outline: none;
}

.nav-link {
    color: black;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: none;
    display: flex;
    align-items: center;
}

.nav-link:hover {
    filter: brightness(100%);
    text-decoration: underline;
}

.nav-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

/* MAIN SCREEN */

.main-screen {
    background-color: #fbfbfb;
    padding: 20px;
}

.main-screen__content {
    margin: 40px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-screen__info {
    max-width: 354px;
    height: 201px;
}

.main-screen__title {
    font-weight: 700;
    font-size: 60px;
    color: #000000;
    line-height: 43px;
}

.main-screen__title::after {
    content: url(../images/cup.png);
    position: relative;
    top: 18px;
}

.main-screen__subtitle {
    font-weight: 400;
    font-size: 30px;
    color: #4A5568;
    line-height: 98px;
}

/* NEWS ARTICLE */

.news-article-content {
    width: 966px;
    height: 248px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    border: 1px solid #E2E2E2;
    box-shadow: 0px 5px 4px rgba(221, 221, 221, 0.25);
    border-radius: 5px;
    margin: 40px auto;
}

.news-info {
    max-width: 403px;
    margin: 0;
    padding: 40px 40px;
}

.news-info__title {
    margin: 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    color: #2D3748;
}

.news-info__subtitle {
    margin: 25px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #718096;
}

.news-desc {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.news-desc__date {
    font-weight: 400;
    font-size: 12px;
    line-height: 17px;
    color: #718096;
}

.news-desc__readmore {
    text-decoration: none;
    font-weight: 700;
    font-size: 12px;
    line-height: 17px;
    color: #2D3748;
}

.news-desc__readmore:hover {
    filter: saturate(200%);
}

.news-article-content__image {
    width: 100%;
    height: 246px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

/* NEWS CARDS */

.news-cards {
    margin: 0 auto;
    width: 966px;
    height: 382px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.news-cards-content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: 382px;
    box-shadow: 0px 4px 4px rgba(192, 189, 189, 0.25);
    border-radius: 5px;
}

.news-card-image {
    width: 100%;
    height: 179px;
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

.news-cards-info {
    padding: 12px 17px;
}

.news-cards-info__title {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #2D3748;
}

/* NEWS BANNER */

.news-banner {
    width: 966px;
    height: 500px;
    background: #F7FAFC;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 40px auto;
}

.news-banner-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 70px 65px;
}


.news-banner-info__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}

.news-banner-info__subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}

.news-banner-desc__date {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #4A5568;
}

.news-banner-desc__readmore {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.news-banner__image {
    position: relative;
    overflow: hidden;
    object-fit: cover;
}

/* BUTTON SEE MORE */ 

.button-seemore {
    width: 966px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 40px;
}

.seemore {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 37px;
    gap: 7px;
    background: #6B46C1;
    border-radius: 5px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.seemore:hover{
    filter: contrast(150%);
}

/* FOOTER */

.footer {
    border-top: 1px solid #E8E8E8;
}

.footer-content {
    max-width: 1050px;
    margin: 0 auto;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.company-name {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.company-name:hover {
    color: #8a8888;
}

.footer-content__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.logo-link:hover{
    filter: brightness(150%);
}

/* DETAILS */

.blog-post-image {
    display: flex;
    justify-content: center;
    padding: 30px 0px;
}

.blog-post-container {
    width: 766px;
    margin: 0 auto;
}

.blog-post-info {
    padding-bottom: 30px;
    border-bottom: 1px solid #E8E7E7;
}

.blog-post-info__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 54px;
    color: #2D3748;
}

.blog-post-info__author {
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    color: #2D3748;
}

.blog-post-info__date {
    padding-left: 20px;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #718096;
}

.blog-post-info-month {
    padding-left: 8px;
}

.blog-post__text {
    padding: 30px 0px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #718096;
}

.blog-post__text:nth-child(2) {
    padding-bottom: 0;
}

.blog-post__title-italic {
    font-style: italic;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
}

.blog-post__title-section {
    font-weight: 700;
    font-size: 28px;
    line-height: 19px;
    color: #000000;
}
.blog-post__title-section1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 19px;
    color: #000000;
}

.button-page-up {
    position: relative;
    bottom: 90px;
    max-width: 1050px;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    border-radius: 50%;
}

.page-up {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    border: none;
    background: none;
}

.page-up:hover {
    filter: contrast(150%);
}

/* 1024px */

@media (max-width: 1024px) {
    .header {
        max-width: 976px;
        padding: 15px 10px;
    }

    .main-screen__content {
        margin: 40px 50px;
    }

    .main-screen__image{
        max-width: 376px;
    }

    .footer-content {
        max-width: 966px;
        padding: 15px 10px;
    }
}